body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol{
  margin: 0;
  padding: 0;
}
a{
  color: #000;
  text-decoration: none;
}
ul, ol{
  list-style: none;
}
.header_area{
  width: 100%;
  background-color: #00c73c;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.header_area h1{
  font-size: 16px;

}
.main{
  padding: 10px;
}

.header a{
  display: inline-block;
  padding:15px;
}
.header{
  margin: auto;
  margin: 20px 10px 0 10px;
}
.header li{
  text-align: center;
  border: 1px solid #ccc;
  margin-top: -1px;
}
.header li:hover{
  color:#00c73c;
  position: relative;
  border-color: #00c73c
}
.header li:hover a{
  color:#00c73c;
}
.nav{
  padding-bottom: 30px;
}
.fist_nav a, .last_nav a{
  color:#00c73c;
}
.fist_nav strong, .last_nav strong{
  display: inline-block;
  width: 55px;
}
.container{
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.content h2{
  font-size: 16px;
}
.content_txt ol{
  padding:10px;
  position: relative;
}
.content_txt li{
  padding-left: 10px;
}
.content_txt{
  padding: 20px 0;
}
.number{
  position: absolute;
  left:0;
}
@media screen and (min-width:480px) {
  .main{
    width: 960px;
    margin: 0 auto;
  }
  .header li{
    float: left;
    margin-left: -1px;
  }
  .header ul::after{
    display: block;
    clear: both;
    content: "";
  }
  .header ul{
    display: inline-block;
  }
  .nav{
    padding-left: 30px;
  }
  .last_nav, .fist_nav{
    width: 50%;
    float: left;
  }
  .nav::after{
    display: block;
    clear: both;
    content: "";
  }


}
