html, body, h1, h2, h3{
  padding: 0;
  margin: 0;
}

html. body{
  height: 100%;
}
.wrap{
  padding: 30px;
}
.container{
  height: 152px;
  overflow: hidden;
}
.tit{
  height: 40px;
  background-color: #8453c7;
  text-align: center;
  font-size: 15px;
  color:#fff
}
.tit_txt h1{
  font-size: 15px;
  line-height: 40px;
  padding-right: 7px;
  display: inline-block
  


}
.open{
  display: inline-block;
  width: 14px;
  height: 8px;
  background-image: url(image/day5_open.png);
  background-size: contain;
  background-position: 50% 50%;
  margin:0 0 3px 7px;
}
.img_container::after{
  display: block;
  clear: both;
  content: "";
}
.img_container{
  height: 112px;
  width: 894px;
}
.content{
  float: left;
  margin: 18px 26px 0 0;
}
.content:first-child{
  margin-left: 20px;
}
.content:last-child{
  margin-right: 20px;
}
.content_img{
  width: 54px;
  height: 54px;
  margin-bottom: 10px;
  opacity: 0.95;
}
.content_img img{
  border-radius: 27px;
}
.content_txt{
  text-align: center;
  margin-bottom: 17px;
}
.on{
  font-size: 13px;
  font-weight: bold;
  color: #212121;
}
.off_text{
  font-size: 13px;
  font-weight: normal;
  color: #95989d;
}
@media screen and (max-width:480px) {
  .content{
    margin: 0;
    margin-top: 18px;
    width: 25%;
  }
  .content:first-child{
      margin: 0;
      margin-top: 18px;

  }
  .content:last-child{
    margin: 0;
    margin-top: 18px;
  }
  .content:nth-child(n+5){
    display: none;
  }
  .content_img{
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .img_container{
    width: 100%;
  }
}
