

html, body,p {
  margin: 0;
  padding:0;
  height:100%;
}
.wrap{
  background-color: #ccc;
  height: 100%;
  position: relative;
}
.layer{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.table_cell:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.table{
  height: 100%;
  text-align: center;
}

.table_cell{
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  /* width: 100%; */
  /* height: 100%; */
}
.popup{
  display: inline-block;
vertical-align: middle;
  /* width: 80%; */
  /* height: 100%; */
  background-color: ;

  cursor: pointer;
}

.layer{
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;

}
.header{
  position: absolute;
  opacity: 0.5;
  top:0;
  height:80px;
  width: 100%;
  background-color: green;
}
.header_txt{
  position: absolute;
  top:0;
  color:white;
  left:50%;
  line-height: 80px;
}
.table{
  font-size: 0;
}
img{
  width: 100%;
}
.container{
  min-height:100%;
  background-color: #ccc;
  /* margin-top: -160px; */
}
.content{

}
.foonter_txt{
  position: absolute;
  bottom:0;
  left: 50%;
  line-height: 80px;
  color: white;

}
.footer{
  position: absolute;
  bottom:0;
  width: 100%;
  height: 80px;
  background: orange;
  opacity: 0.5

}
.back{
  position: absolute;
  top:0;
  right: 0;
  left:0;
  bottom:0;
  background-color: #000;
  opacity: 0.3;
}
