body, html, h1, h2,h3 ,h4, h5, h6, table, caption, tr,td, th{
  margin: 0;
  padding: 0;
}
body,html {
  width: 100%;
  height: 100%;
}
a{
  color:#000;
  text-decoration: none;
}
.wrap{
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
.main{
  text-align: center;
  height: 100%;
  margin: 0 auto;
  width: 900px;
  background-color:#fff;
}
.image{
  display: inline-block;
  margin: 0 auto;
  width:500px;
  height: 100%;
}
.main{

  position: relative;
}
.left_hover{
  position: absolute;
  top:50%;
  left:-32px;
}
.hover_link{
  float: left;
  width: 30px;
  height: 100px;
  background-color: #eee;
  line-height: 100px;
  border: 1px solid #333;
  border-right: 1px solid #ccc;
}
.txt{
  position: relative;
}
.preview{
  overflow: hidden;
  text-align: left;
  width:300px;
  height: 100px;
  left: 0;
  border: 1px solid #333;
  border-width:1px 1px 1px 0;
  background-color: #fff;
}
.preview::before{
  display: inline-block;
  content: "";
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.preview_txt{
  width: 210px;
  display: inline-block;
  vertical-align: middle;
}
.preview{
  display: none;
}
.hover_link:hover{
  border: 1px solid #333;
  border-width: 1px 0 1px 1px;
  border-right: 1px solid #ccc;
}
.hover_link:hover + .preview{
  display: block
}
.preview:hover{
  display: block;
  border-right: 1px solid #333;
}
/* .preview:hover ~ .hover_link{
  border: 1px solid #333;
  border-width: 1px 0 1px 1px;
  border-right: 1px solid #ccc;
} */
.preview_img{
  height: 80px;
  vertical-align: middle;
  display: inline-block;
}
.preview::before{
  display: inline-block;
  content: "";
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.right_txt{
  height: 100px;
  width: 28px;
  background-color: #eee;
}
.right_hover{
  position: absolute;
  right:-30px;
  top:50%;
  line-height: 100px;
  border: 1px solid #333;
  border-width: 1px 1px 1px 0;
}

.next_hover_link{
  float: right;
  width: 30px;
  height: 100px;
  background-color: #eee;
  line-height: 100px;
  
}
