html, body,h1,h2,h3,h4,h5, p{
  padding: 0;
  margin: 0;
}
html, body{
  height: 100%;
  width: 100%
}

.wrap{
  position: relative;
  min-height: 100%;
  min-width: 1024px;

}
.main_back{
  position: absolute;
  top: 0;
  height: 860px;
  width: 100%;
  background-image: url("image/main.png");
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
}
.main{
  width: 1024px;
  min-height:860px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.header_back{
  height:65px;
  background-color: #000;
  opacity: 0.4;
  min-width: 1024px;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 10;
}
.header_content{
  width: 1024px;
  height: 65px;
  margin: 0 auto;
  position: fixed;
}
.header_content a{
  display: inline-block;
  margin-left:15px;
}
.tit{
  position: absolute;
  padding-top: 22px;
  left:30px;
}
.header_link{
  position: absolute;
  right: 30px;
  top: 23px;

}
.blind{
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip:rect(0px 0px 0px 0px);
}
.main_wino{
  position: absolute;
  bottom: 196px;
  left:900px;
}
.content1{
  width: 1024px;
  margin: 0 auto;
}
.content2{
  width: 100%;
  background-image: url("image/content2.png");
  background-repeat: no-repeat;
  background-position: center top;
  height: 778px;
}
.regist_content{
  width: 1024px;
  margin: 0 auto;
}
.go_regist{
  display: inline-block;
  position: absolute;
  width: 350px;
  height: 70px;
  bottom: 141px;
  left: 339px;
}
.join_report{
  display: inline-block;
  position: absolute;
  width: 260px;
  height: 18px;
  bottom: 89px;
  left: 384px;
}
.content3_area{
  position: relative;
  margin:0 20px;
  border-bottom: 1px solid #ccc;
}
.content4_area, .content5_area{
  position: relative;
}
.style_apply{
  display: inline-block;
  position: absolute;
  width: 368px;
  height: 70px;
  bottom: 107px;
  left: 121px;
}
.living_apply{
  display: inline-block;
  position: absolute;
  width: 368px;
  height: 70px;
  bottom: 107px;
  left: 535px;
}

.regist_content .link{
  display: inline-block;
  position: absolute;
  left: 50px;
  height: 21px;

}
.s_store_link1{
  width: 470px;
  bottom: 1449px;
}
.l_store_link1{
  width: 460px;
  bottom: 1418px;
}
.s_store_link2{
  width: 470px;
  bottom: 1227px;
}
.l_store_link2{
  width: 460px;
  bottom: 1193px;
}

.s_inspect_link{
  width: 600px;
  bottom: 843px;
}
.l_inspect_link{
  width: 580px;
  bottom: 810px;
}
.kid_link{
  width: 457px;
  height: 21px;
  bottom: 268px;
}
.food_link{
  width: 457px;
  height: 21px;
  bottom: 300px;
}
