body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
table,
caption,
tr,
td,
th,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
}
ul,
ol{
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.tit_ico,
.box_view_btn,
.list_view_btn {
  background: url(image/day11_sprite.png) no-repeat;
  background-size: 58px auto;
}
.main_img {
  position: relative;
}
.wrap {
  background-color: #ddd;
}

.top_area {
  position: relative;
  width: 99%;
  margin: 0 auto;
}
.main_image {
  vertical-align: top;
}
.bottom {
  position: relative;
}
.main_img_txt{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: #fff;
}
.elip3 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.elip2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.uploaa_time {
  color: #eee;
  font-size: 12px;
}
.main_tit_area {
  background-color: #fff;
  color: #ccc;
}
.main_link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.tit_txt_area {
  height: 100px;
  border-bottom: 1px solid #ddd;
  margin:0 15px 0 10px;
}
.tit_txt_area:last-child {
  border: 0;
}
.tit_vertical {
  display: inline-block;
  height: 100px;
  width: 0;
  vertical-align: middle;
}
.tit_link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #999;
  margin-left: 15px;
}
.tit_ico {
  position: absolute;
  left: -13px;
  top: 2px;
  width:7px;
  height: 7px;
  background-position: -44px -33px;
}
.img_tit {
  color: #eee;
}
.section {
  position: relative;
  width: 95%;
  margin: 10px auto;
  height: 35px;
  line-height: 40px;
  background-color: #eee;
}
.section_tit {
  position: relative;
  padding-left: 10px;
}
.ico_area {
  position: absolute;
  top: 0;
  right: 0;
}
.btn {
  position: relative;
  float: left;
  width: 39px;
  height: 35px;
  margin-left: -1px;
  outline: none;
  cursor: pointer;
  border: 1px solid #ddd;
}

.list_view_btn{
  background-position: 0 -40px;
}
.nale_area::after {
  display: block;
  clear: both;
  content: "";
}
.list_image {
  vertical-align: top;
}

.nale_area {
  padding: 10px 10px 10px 0;
  margin-left: 10px;
  border-bottom: 1px solid #ddd;
}
.list_img {
  width: 20%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: middle;
}
.list_txt {
  display: inline-block;
  width: 78%;
  vertical-align: middle;
  font-size: 14px;
}
.list_info {
  font-size: 12px;
  color: #888;
}
.list_cate {
  color: #00f;
}

.content {
  margin-bottom: 10px;
  background-color: #fff;
}
.bot_link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.bottom {
  background-color: #fff;
}
.bot_img {
  width: 100%;
}
.bot_image {
  vertical-align: top;
}
.bot_sumnale_tit {
  padding-bottom: 10px;
  line-height: 31px;
  color: #fff;
  font-size: 14px
}
.bot_sumnale {
  position: absolute;
  padding: 10px;
  bottom: 25%;
  left: 0;
  right: 0;
}
.bot_tit {
  overflow: hidden;
  line-height: 22px;
}
.bot_image_area {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.boder {
  float: left;
  margin-right: 5px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: initial;
  border: 1px solid #ddd;
}
.sub_img{
  vertical-align: top;
}
.sub_img_area {
  position: relative;
  width: 25%;
  float: left;
}
.inline::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid #eee;
  content: "";
}
.inline_link {
  display: inline-block;
  position: relative;
  height: 100%;
  z-index: 10;
}
.elip1{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bottom_sumnale {
  display: none;
}
.mask {
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  filter:alpha(opacity=50);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.content {
  margin-right: -1px;
}
@media screen and (min-width:480px) {
  .main_img {
    float: left;
    height: 100%;
    width: 60%
  }
  .main_tit {
    position: absolute;
    left: 60%;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .main_tit_area {
    height: 100%;
  }
  .tit_txt_area {
    height: 33.33%;
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0 15px;
  }

  .top_area::after {
    display: block;
    clear: both;
    content: "";
  }
  .section {
    width: 98%;
  }
  .tit_vertical {
    height: 100%
  }

  .content_area::after {
    display: block;
    clear: both;
    content: "";
  }
  .content_list_area {
    float: left;
    width: 33.33%;
  }
  .nale_area {
    margin: -1px 0 0 -1px;;
    padding: 10px;
    border: 1px solid #ddd;
  }
  .list_txt {
    width: 100%;
  }
  .list_info {
    padding-top: 35px;
  }
  .list_img{
    width: 100%;
    margin-bottom: 10px;
  }
  .video::before{
    display: inline-block;
    float: left;
    margin-right: 3px;
    width: 14px;
    height: 14px;
    background: url(image/day11_sprite.png) no-repeat;
    background-size: 58px auto;
    background-position: -44px 0;
    content: "";
  }
  .bottom {
    position: relative;
  }
  .bot_img {
    width: 70%;
    height: 200px;
  }
  .sub_img_area {
    width: 50%;
  }
  .bot_sumnale {
    bottom: 0px;
    left: 0;
    right: 30%;
  }
  .test {
  }
  .sub_img {
    height: 100px;
  }
  .bot_image_area {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 70%;
  }
}
@media screen and (min-width:780px) {
  .content,
  .bottom {
    width: 99%;
    margin: 0 auto;
  }
  .bot_sumnale {
    left: 10px;
  }
  .mask {
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
  }
  .wrap {
    max-width: 1024px;
    margin: 0 auto;
  }
  .content_list_area {
    width: 25%;
  }
  .main_img_txt {
    border-right: 1px solid #ccc;
    left: 100%;
    bottom: 0;
    right: -50%;
    background-color: #fff;
    top: 0;
    color: #999;
    font-size: 20px;
    line-height: 29px;
    padding: 20px 15px;
  }
  .bot_img {
    padding: 10px;
  }
  .bot_image_area {
    padding: 10px;
  }
  .uploaa_time {
    position: absolute;
    bottom: 10px;
    color: #999;
  }

  .main_tit {
    left: 75%;
  }
  .main_img {
    width: 50%;
  }
  .bottom {
    width: 49%;
    margin: 10px 0 0 0.5%;
  }
  .bot_link {
    height: 200px
  }
  .sub_img {
    height: 50px;
  }
  .sub_img_area {
    width: 100%;
  }


  .wrap::after {
    display: block;
    clear: both;
    content: "";
  }
  .bottom_sumnale {
    display: block;
    left: 100%;
    top:0;
    right: -102%;
    bottom: 0;
    /* border-left: 1px solid #ccc; */
    position: absolute;
    background-color: #fff;
  }
  .bottom .content {
    width: 100%;
  }
  .bottom .content_list_area:first-child .nale_area {
    margin-left: 3px;
  }
  .bottom .nale_area {
    height: 200px;
  }
  .img_tit {
    color: #666;
  }
  .bottom .list_info {
    padding-top: 10px;
  }
  .bottom .content_list_area {
    width: 50%;
  }
}
