body, html, h1, h2,h3 ,h4, h5, h6, table, caption, tr,td, th, ul, ol, li{
  margin: 0;
  padding: 0;
}
body, html{
  height: 100%
}
a{
  text-decoration: none;
  color: black
}
ul{
  list-style: none
}

.blind{
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip:rect(0px 0px 0px 0px);
}




.day9_btn,
.player_num,
.like_num,
.day9_plus,
.day9_tooltip_img{
  background-image:url(image/day9_sprite.png);
  background-repeat: no-repeat;
}
.day9_container::after{
  display: block;
  clear: both;
  content: "";
}
.day9_container{
  width: 960px;
}

.day9_wrap{
  width: 960px;
  padding-top: 50px;
  margin: 0 auto;
}
.day9_btn_area{
  position: absolute;
  right: 0;
  top:0;
}
.day9_btn{
  border: 0;
  background-color: none;
  width: 13px;
  height: 23px;
  cursor: pointer;
}
.day9_header{
  position: relative;
}
.day9_pre_btn{
  margin-right: 20px;
  background-position: -80px 0;
}
.day9_pre_btn:hover{
  background-position: -100px 0;
}
.day9_next_btn{
  background-position: -20px 0;
}
.day9_next_btn:hover{
  background-position: -40px 0;
}
.first_page{
  background-position: -60px 0;
}
.first_page:hover{
  background-position: -60px 0;
  cursor: default;
}
.last_page{
  background-position: -60px 0;
}
.last_page:hover{
  background-position: -60px 0;
  cursor: default;
}
.day9_main_img{
  float: left;
  margin-right: 10px;
  width: 480px;
}
.day9_main_img img{
  vertical-align: top;
}
.day9_img_border{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #000;
  opacity: 0.3;
}

.day9_img_link {
  position: relative;
  display: inline-block;
  height: 360px;
}
.day9_time_area{
  width: 40px;
  height: 20px;
  position: absolute;
  right: 10px;
  bottom:20px;
}
.day9_list .day9_time_area{
  bottom:10px;
}
.day9_play_time{
  position: absolute;
  bottom: 2px;
  right: 5px;
  color: #fff;
  font-size: 12px;
  z-index: 10;
}
.day9_tooltip:hover{
  display: inline-block;
}
.day9_plus{
  display: none;
  position: absolute;
  bottom:0;
  right: 10px;
  width: 25px;
  height: 25px;
  background-position: -170px 0;
  opacity: 0.5;
}
.day9_mask{
  position: absolute;
  width: 40px;
  height: 20px;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.day9_time_area:hover .day9_time{
  display: none;
}
.day9_time_area:hover .day9_plus{
  display: block;
}
.day9_time_area:hover .day9_tooltip{
  display: inline-block;
}
.main_tit{
  display: block;
  padding-bottom: 10px;
}
.day9_image_area{
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
.main_tit span{
  display: inline-block;
  padding: 2px 5px 0;
  background-color: #999;
  color: #fff;
}

.day9_elip1{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.player_num{
  display: inline-block;
  width: 10px;
  height: 13px;
  background-position: -220px 0;
}
.like_num{
  margin-left: 20px;
  display: inline-block;
  width: 16px;
  height: 14px;
  background-position: -200px 0;
}
.play_info{
  color: #666;
}
.day9_list{
  padding-bottom: 20px;
  width: 235px;
  height: 210px;
}
.day9_list_image_area{
  position: relative;
  width: 230px;
  height: 130px;
  margin-bottom: 10px;
}
.day9_list_img{
  width: 470px;
  overflow: hidden;
  float: left;
}
.day9_list_img_link{
  overflow: hidden;
  position: relative;
  display: inline-block;

}
.day9_image_area:hover img{
  cursor:pointer;

  transform:scale(1.1);
  /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */
  -o-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transition: transform .5s;
  -o-transition: transform .5s;
  -moz-transition: transform .5s;
  -webkit-transition: transform .5s;

}
.day9_list_img_link:hover img{
  cursor:pointer;

  transform:scale(1.1);
  /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */
  -o-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transition: transform .5s;
  -o-transition: transform .5s;
  -moz-transition: transform .5s;
  -webkit-transition: transform .5s;

}
.day9_list_img_link img{
  vertical-align: top;
}
.day9_elip2{
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.list_tit{
  position: relative;
  margin-bottom: 10px;
  line-height: 20px;
}

.day9_tooltip{
  display: none;
  position: absolute;
  text-align: right;
  top: -41px;
  left: -200px;
  right: -4px;
  bottom: 25px;
  font-size: 10px;
}
.day9_tooltip_txt{
  color: #000;
  font-size: 13px;
  padding: 5px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #aaa;
}
.day9_tooltip_img{
  position: absolute;
  width: 10px;
  height: 5px;
  right: 21px;
  bottom: 4px;
  background-position: 0 -29px;
}
.list_tit span{
  display: inline-block;
  padding: 2px 5px 0;
  font-size: 12px;
  line-height: 15px;
  background-color: #999;
  color: #fff;
}
.day9_lists{
  margin-right: 10px;
  width: 230px;
  float: left;
}
.day9_list_area{
  width:960px;
}
.day9_list_area::after{
  display: block;
  clear: both;
  content: "";
}
