body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
table,
caption,
tr,
td,
th,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%
}

a {
  text-decoration: none;

}
.wrapper {
  height: 100%;
}
.header {
  line-height: 50px;
  text-align: center;
  background: green;
  height:50px;
}
.aside {
  position: absolute;
  width:200px;
  background-color: #ccc;
  height: 100%;
}
.container {
  position: absolute;
  width:100%;
  top:50px;
  bottom:0;
}
.aside_area {
  position: absolute;
  overflow: auto;
  top: 50px;
  bottom: 50px;
  left: 2px;
  right: 2px;
  z-index: 10;
}
.aside_area_txt {
  text-align: center;
  padding-top: 15px;
}
.homework {
  display: block;
  margin-bottom: 10px;
}
.homework_tit {
  display: inline-block;
}
.aside_top {
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
}
.aside_bot {
  position: absolute;
  bottom:0;
  height:50px;
  width: 200px;
  line-height: 50px;
  text-align: center;
  border-top: 1px solid #ddd;
  left:0;
}
.content {
  position: absolute;
  padding-left: 200px;
  min-height: 100%;
  right: 0;
  left:0;
  top:0;
}
.content_top div {
  padding:15px 0 0 15px;
}
.content_top {
  height:80px;
  width:100%;
  border-bottom: 1px solid #ccc;
}
.content_area {
  padding: 15px;
}
.content_area {
  overflow: auto;
  position: absolute;
  left: 200px;
  right: 0;
  top: 80px;
  bottom: 0;
}
.footer {
  position: absolute;
  bottom:0;
  left:200px;
  right: 0;
  height:25px;
  line-height: 25px;
  border: 1px solid #ccc;
  border-width: 1px 0;
  text-align: center;
  background-color: #fff;
  z-index: 10;
}

/*----- day1 homework -----*/


html {
  font-size: 14px
}
ul,ol {
  list-style: none;
}

a {
  text-decoration: none;
  color:black;
}
.tit {
  position: relative;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  height:40px;
}
.day1_wrap {
  padding:20px;
}
.live {
  float:left;
  width:400px;
  border:1px solid #ccc;
  margin-right: 10px;

}
.tit h1 {
 display: inline-block;
 font-size: 20px;
 padding-left: 10px;
}
.tit h1 {
 line-height: 40px;
}
.tit::after {
 display: block;
 clear: both;
 content: "";
}
.paging {
 float:right;
}
.day1_content {
 position: relative;
 border: 1px solid #ccc;
 height:100%;
}
.day1_content::after {
 display: block;
 clear: both;
 content: "";
}
.paging a {
 display: inline-block;
 margin-top:5px;
 padding:5px;
 border: 1px solid #ccc;
 background-color: #fff;
}
.paging a:last-child {
 margin-right: 10px
}
.game {
 float: left;
 width: 50%;
}
.date {
 padding:5px 5px 15px;
}
.onair {
 float: right;
}
.game ul li {
 position: relative;
 padding: 5px;
 line-height: 17px;
}
.game li span {
 position: absolute;
 right: 10px;
 font-size: 20px;
 font-weight: bold;
}
.team_img {
 display: inline-block;
 width:15px;
 height:15px;
 background-color: red;
 margin-right: 3px;
}
.day1_content::before {
 display: block;
 content: "";
 position: absolute;
 right:200px;
 width: 1px;
 height: 100%;
 background-color: #ccc;
}
.news_tit {
 overflow: hidden;
}
.news_tit ul {
 display: inline-block;
 /* padding:5px; */
}
.news_tit li {
 padding:5px;

}
.section_head {
 margin-bottom: 20px;
}
.section_head::after {
 display: block;
 clear: both;
 content: "";
}
.news {
 float: left;
 overflow:hidden;
 width:200px;
 margin-right: 10px;
 margin-bottom: 20px;

 }
.news_img {
 width:190px;
 height:122px;
}

.news_img img {
 width: 100%;
 height: 100%;
}
.news p {
 padding-top:15px;
 line-height: 15px;
}
.mid_left {
  float: left;
  width: 420px;
  height: 200px;
  margin-right: -10px;
}

.section_mid::after {
 display: block;
 clear: both;
 content: "";
}
.section_bot::after {
 display: block;
 clear: both;
 content: "";
}
.day1_footer {
 text-align: center;
 line-height: 100px;
 font-size: 20px;
 background-color: #ccc;
  height: 100px;
}
 /* day2 homework ---------- */
.blind {
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip:rect(0px 0px 0px 0px);
}
.day1_wrap {
  margin-bottom: 30px
}
.day2_wrap {
  font-size: 16px;
   padding:40px 20px 20px;
 }
.day2_wrap table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.day2_wrap caption strong {
  font-size: 20px;
  padding:22px 0 0;
  border-top: 1px solid #000;
}
.day2_wrap caption {
  margin-bottom: 20px;
}
.day2_wrap tr {
  border:1px solid #ccc;
  border-width: 1px 0;
}
.day2_wrap th {
  position: relative;
  vertical-align: top;
  padding-top: 20px;
}
.day2_wrap td {
  padding:20px 0;
  vertical-align: text-top;
}
.age {
  width:35px;
}
.right.year {
  float: left;
  margin: 0 53px 0 13px;
}
.right.txt {
  overflow: hidden;
}
.old {
  position: relative;
}
.center::before {
  display: inline-block;
  height: 100%;
  width: 1px;
  background-color: #ccc;
  position: absolute;
  left: 16px;
  top:0;
  content: "";
}
th{
  padding-top: 20px;
}
.old span{
  font-weight: 400;
}
.old strong{
  display: inline-block;
  font-family: Arial,  sans-serif ;
  font-size: 15px;
  font-weight: bold;
  color:#6a35b1;
  height: 26px;
  line-height: 26px;
  background-color: #fff;
}
.content_right{
  position: relative;
}
.image{
  width:100px;
  height: 72px;
}
.content_right .image{
  float: right;
  margin-left: 32px;
}
.image img{
  width: 100%;
  height: 100%;
}
.img_alt{
  color:#aaa;
  font-size: 14px;
}
.img_alt span{
  color: #000;
  font-weight: bold;
  font-size: 16px;
}
.content_right::after{
  display: block;
  clear: both;
  content: "";
}
.year{
   font-family: Tahoma,  sans-serif;
   font-size: 14px;
   color: #666;
}
.left.year {
  float:right;
  margin: 0 13px 0 53px;
}
.left div, .right div {
  line-height: 24px;
}
.left.txt{
  text-align: right;
  overflow: hidden;
}
.content_left .image {
  float: left;
  margin-right: 32px;
}
.content_left::after {
  display: block;
  clear: both;
  content: "";
}
.left li, .right li {
  padding-bottom: 7px;
}

/* day3 homework */
#day3_homework {
  margin-top: 30px;
}
.day3_form form input {
  border: 1px solid #ccc;
  outline-color: #00cc00;
}
.day3_form {
  background-color: #eee;
  margin-top: 20px;
  color: #999
}
.day3_form label {
  cursor: pointer;
}
.day3_cate_area {
  position: relative;
}
.day3_cate {
  position: absolute;
  left: 10px;
  top: 10px;
}
.input_area_3{
  padding-left: 150px;
}
.input_area_3::after {
  display: block;
  clear: both;
  content: "";
}
.cate_area {
  margin: 0 20px;
  padding: 10px  10px ;
  border-bottom: 1px solid #ccc;
}
.search_cate {
  line-height: 40px;
}
.category {
  float: left;
  width:150px;
}
.input_form {
  overflow: hidden;
}
.input_area {
  display: inline-block;
  line-height: 30px;
  margin-right: 10px
}
.check_btn::before, .radio_btn::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: #eee;
  background-size: contain;
  margin-bottom: -4px;
  content: "";
}
.check_btn::before {
  background-image: url(image/ico_checkbox_off.png);
  background-repeat: no-repeat;
}
.radio_btn::before {
  background-image: url(image/ico_radio_off.png);
  background-repeat: no-repeat;
}
.area_1_radio label {
  display: inline-block;
  padding-left: 5px;
}
.textarea1 {
  margin-bottom: -11px;
}
.area_1_txt label {
  display: inline-block;
  padding: 0 5px;
}
.input_area .txt {
  height:16px;
}
.checkbox_area {
  line-height: 30px;
  display: inline-block;
  width:90px;
}
.cate_area::after {
  display: block;
  clear: both;
  content: "";
}
.select_area {
  float: left;
  position: relative;
  text-align: left;
  width: 170px;
  height: 30px;
  margin: 0 15px 10px 0;
}
.select_box {
  display: none;
  position: absolute;
  background-color: #fff;
  left: 0;
  top:33px;
  width: 95px;
  border: 1px solid #ccc;
  border-width:0 1px 1px 1px;
  z-index: 10;
}
.select_box li {
  cursor: pointer;
  padding:10px 5px 5px 10px;
}
.select_box li:hover {
  background-color: #eee;
  color:#00cc00
}
.cate_select_box {
  top:30px;
  width: 148px;
  border-width: 1px;
}
.cate_select_box li {
  cursor: pointer;
  padding:10px 5px 5px 10px;
}
.cate_select_box li:hover {
  background-color: #eee;
  color:#00cc00
}
.select_value {
  cursor: pointer;
  color:#444;
  font-size: 12px;
  background-color: #fff;
  padding-left: 5px;
  line-height: 28px;
  border: 1px solid #ccc;
  width: 97px;
}
.cate_select_value {
  width: 150px;
  padding-left: 15px;
  line-height: 28px;
  text-align: left;
  border: 1px solid #ccc;
  cursor: pointer;
  color:#444;
  font-size: 12px;
  background-color: #fff;
  background-image: url("image/ico_arw_off.png");
  background-position: 90% center;
  background-repeat: no-repeat;
}
.select_style_remove {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  filter:alpha(opacity=0);
  display: inline-block;
  width: 170px;
  border-radius: 0px;
  height: 30px;
  background-color: #fff;
  border-color: #ccc;
  padding: 0px 15px;
  background-image: url("image/ico_arw_off.png");
  background-position: 90% center;
  background-repeat: no-repeat;
}
.select_value::after {
  display: inline-block;
  width: 10px;
  height: 5px;
  content: "";
  margin-left: 10px;
  background-image: url("image/ico_arw_off.png");
  background-repeat: no-repeat;
}
.category_cate, .term_cate {
  padding-bottom: 0;
}
.select_arw {
  display: inline-block;
  width: 10px;
  height: 5px;
  position: absolute;
  right: 10px;
  top: 11px;
}
.area_3_raido {
  display: inline-block;
  width:160px;
}
.checkbox_active::before {
  background-image:url("image/ico_checkbox_on.png");
  background-repeat: no-repeat;
}
.radio_active::before {
  background-image:url("image/ico_radio_on.png");
  background-repeat: no-repeat;
}
.search_raido:checked + label::before {
  background-image:url("image/ico_radio_on.png");
  background-repeat: no-repeat;
}
.check_click:checked + label::before {
  background-image:url("image/ico_checkbox_on.png");
  background-repeat: no-repeat;
}

.raido_click:checked + label::before {
  background-image:url("image/ico_radio_on.png");
  background-repeat: no-repeat;
}
.term_radio_area {
  display: inline-block;
  margin:10px 15px 1px 0;
  vertical-align: middle;
}
.term_cate {
  padding: 0 10px;
}
.term_radio_area::after {
  display: block;
  clear: both;
  content: "";
}
.term_radio {
  float: left;
}
.term_category {
  padding-top: 10px;
}
.term_select_area {
  width:90px;
  margin:10px 10px 10px 0;
  float: left;
  position: relative;
}
.term_select_area .select_arw {
  right: 5px;
}
.term_label {
  display: inline-block;
  font-size: 12px;
  padding:5px 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-right: -1px;
}

.select_open {
  display: inline-block;
}
.select_open + .select_value::after {
  background-image: url("image/ico_arw_on.png");
  background-repeat: no-repeat;
}
.select_open + .cate_select_value {
  background-image: url("image/ico_arw_on.png");
  background-repeat: no-repeat;
}

.term1_cheked:checked + label {
  position: relative;
  color:#00cc00;
  border:1px solid #00cc00;
}
.term_active {
  position: relative;
  color: #00cc00;
  border-color: #00cc00;
}
.submit {
  height: 100px;
}
.input_last_area .txt{
  height: 16px;
  width: 100px;
}
.cal_wrap {
  display: inline;
}
.calender {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-bottom: -4px;
  background-size: contain;
  background-image: url("image/btn_calendar.png");
  background-repeat: no-repeat;
}
.calender_area {
  display: inline-block;
  vertical-align: middle;
  padding-top: 11px;
}
.button {
  text-align: center;
  padding:10px 15px;
  color: #fff;
}
.sumbit {
  background-color: #00cc00;
  color:#fff;
  display: inline-block;
  margin-right: -20px;
}
.reset {
  background: #fff;
  color:#000;
  border: 1px solid #999;
}
.button {
  background: #fff;
  padding-top: 30px;
}
.button button {
  width: 100px;
  padding:10px 15px;
}

/* day3_homework_2 */
#day3_homework_2 {
  margin-top: 100px;
}
.day3_2_wrap{
  padding: 20px 0;
}
.popup {
  height:88px;
  border:1px solid #ccc;
}
.popup .img {
  float: left;
  height: 100%;
}
.popup .img img {
  vertical-align: middle;
}
.popup .img::before {
  height: 100%;
  width: 0;
  display: inline-block;
  content:"";
  vertical-align: middle;
}
.pop_txt {
  height: 100%;
  overflow: hidden;
}
.vertical {
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.vertical_middle {
  display: inline-block;
  vertical-align: middle;
}
.popup {
  margin-bottom: 30px;
}
/* day4 */
#day4_homework_2 {
  display: inline-block;
  margin-top: 50px;
}
.day4_wrap {
  padding-top: 30px;
}
.tooltip_ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: #f00;
}
.tooltip_area {
  width:500px;
  height:300px;
  border: 1px solid #ccc;
}
.tooltip_right {
  padding: 10px;
}
.tooltip_tit {
  float: right;
  position: relative;
}
.inline_vertical {
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.tootip_txt {
  vertical-align: middle;
}
.tootip_txt:after {
  display: block;
  clear: both;
  content: "";
}
.close_tooltip {
  display: none;
}
.tooltip {
  position: absolute;
  width: 400px;
  height:200px;
  background-color: #fdfadb;
  top: 32px;
  right: 0;
  border: 1px solid #ebe7cf;
}
.tragle_img {
  position: absolute;
  top:20px;
  left:5px;
  z-index: 10;
}
.close_btn {
  position: absolute;
  top:15px;
  right: 15px;
  background-color: #fdfadb;
  border: 0px;
  cursor: pointer;
}
.tooltip_content {
  padding: 0 20px;
  height: 100%;
}
.txt_vertical {
  display: inline-block;
  vertical-align: middle;
}
#day5_homework {
  margin-top: 50px;
}

/* day6_homework */
#day6_homework {
  margin-top: 50px;
  display: block;
}
.day6_wrap {
  padding:20px;
}
.day6_main {
  margin: 0 auto;
  width: 800px;
}
.day6_content {
  position: relative;
  border-bottom: 1px solid #ccc;
}
.day6_user {
  float: left;
  margin-right: 5px;
}
.day6_tit, .day6_content_tit, .day6_content_d {
  margin-bottom: 10px;
}
.day6_emp {
  margin-bottom: 20px;
}
.day6_nick {
  font-weight: bold;
  font-size: 16px;
}
.day6_date {
  color: #555;
  font-size: 13px;
}
.day6_content_area {
  padding-top: 20px;
  overflow: hidden;
}
.day6_info {
  overflow: hidden;
}
.day6_tit::after {
  display: block;
  clear: both;
  content: "";
}
.day6_content_tit a {
  font-size: 17px;
  font-weight: bold;
}
.day6_content_d {
  font-size: 13px;
  color:#888;
  overflow: hidden;
}
.day6_content_detail a:hover {
  text-decoration: underline;
}

.day6_content_img {
  width: 150px;
  height: 150px;
  float: right;
  margin: 20px 0 0 20px;
  position: relative;
}
.day6_content_img a {
  display: inline-block;
  height: 150px;
}
.day6_content_img::after {
  display: inline-block;
  width: 31px;
  height: 31px;
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  background-image: url("image/bg_fold.png");
}
.day6_hover_img {
  width: 100%
}
.day6_hover_img a {
  display: inline-block;
}
.day6_hover_img ul {
  position: absolute;
  right: 150px;
  top:19px
}

.day6_hover_img a {
  float:right;
  padding-left: 1px;
}
.day6_hover_img {
  overflow: hidden;
  position: absolute;
  right: 151px;
  top:0;
  width: 453px;
}
.day6_hover_img {
  display: none;
}
.day6_content_img:hover::after {
  background-image: url("image/bg_unfold.png");
  background-repeat: no-repeat;
}
.day6_content_img:hover > .day6_hover_img {
  display: block;

}
.day6_hover_img:hover {
  display: block;
}

/* day7 */
#day7_homework {
  margin-top: 30px;
}
.day7_wrap {
  width: 700px;
  margin: 0 auto;
  margin-top: 30px;
}
.day7_main {
  width: 640px;
  background-color: #ccc;
  padding: 20px;
}
.day7_img {
  width: 100px;
  height: 100px;
  float: left;
}
.day7_container {
  position: relative;
}
.day7_container::after {
  display: block;
  clear: both;
  content:"";
}
.day7_content {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  background-color: #fff;
  width: 540px;
  height: 100px;
  position: relative;
}
.day7_txt {
  line-height: 100px;
  padding-left: 20px;
  width: 520px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.day7_txt::before {
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  border-bottom:1px solid #ccc;
}
.day7_percent {
  text-align: right;
  position: absolute;
  right:10px;
  top:27px;
}
.percnet {
  font-size: 25px;
}
.participant {
  font-size: 12px;
  padding-right: 21px;
}
.day7_content_white {
  background-color: #2196f3;
  color:#fff;
  position: absolute;
  left: 0;
  top:0;
  overflow: hidden;
}
.day7_txt_white {
  line-height: 100px;
  padding-left: 20px;
  position: relative;
  width: 520px;
}
.day7_percent_white {
  color:#fff;
  position: absolute;
  right: 10px;
  top:27px;
  line-height: 0;
  text-align: right;
}
.percnet_white {
  color:#fff;
  font-size: 25px;
  line-height: 31px;
}
.percnet, .participant {
  color: #666;
}
.participant_white {
  font-size: 12px;
  line-height: 15px;
  padding-right: 21px;
}

/* day8 */
#day8_homework {
  margin: 50px 0;
}
.day8_wrap {
  width: 700px;
  margin-top: 20px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border: 1px solid #d3d3d3;
}
.day8_header {
  font-size: 20px;
  padding: 30px 64px;
  border-bottom: 1px solid #e9e9e9;
  background-color: #fff;
}
.day8_header::after {
  display: block;
  clear: both;
  content: "";
}
.day8_question {
  width: 45px;
  height: 38px;
  padding-top: 7px;
  font-size: 11px;
  background-color: #ff3f40;
  color: white;
  text-align: center;
  float: left;
  margin-right: 10px
}
.day8_question::before {
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  margin:0 0 3px 14px;
  background-image: url(image/day8_sprite.png);
  background-position: -24px 0;
  background-size: 140px 66px;
}
.day8_tit {
  overflow: hidden;
}
 .test3 {
  height: 100%;
  display: inline-block;
  width: 0;
  vertical-align: middle;
  content: "";
}

.day8_tit_txt {
  overflow: hidden;
  font-family: "나눔고딕",  sans-serif;
  font-weight: bold;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

}
.day8_date {
  margin-top: 6px;
  font-size: 12px;
  font-family: Arial,  sans-serif;
  color: #999;
}

.survey_date {
  margin-right: 20px;
}
.day8_container {
  padding:60px 64px;
}
.survey_date::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 5px -2px 0 ;
  background-image: url(image/day8_sprite.png);
  background-position: -50px 0;
  background-size: 140px 66px;
  content: "";
}
.survey_participant::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 5px -2px 0 ;
  background-image: url(image/day8_sprite.png);
  background-position: 0 0;
  background-size: 140px 66px;
  content: "";
}

.day8_img {
  position: relative;
  margin-bottom: 20px;
  height: 270px;
}
.day8_img::after {
  display: block;
  clear: both;
  content: "";
}
.vote_img {
  height: 270px;
  float: left;
  position: relative;
}
.day8_mask {
  position: absolute;
  width: 286px;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.day8_left_img::after {
  position: absolute;
  width: 1px;
  height: 270px;
  right: 0;
  top:0;
  background-color: #fff;
  content: "";
}
.graph_bar {
  width: 100%;
  position: absolute;
  opacity: 0.8;
  filter: alpha(opacity=80);
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: #8db9e8;
}
.win .graph_bar {
  background-color: #ff3f40;
}

.day8_vs {
  position: absolute;
  width: 66px;
  height: 66px;
  left: -33px;
  top: 102px;
  background-image: url(image/day8_sprite.png);
  background-position: -74px 0;
  background-size: 140px 66px;
  content: "";
}
.day8_txt_area {
  color:#fff;
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom:124px;
  left: 0;
  right: 0;
}
.day8_score_area {
  color:#fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom:20px;
  left: 0;
  right: 0;
}

.day8_percent {
  font-size: 34px;
  font-family: arial,  sans-serif;
  font-weight: bold;
}
.day8_txt {
  font-size: 17px;
  font-weight: normal;
}
.day8_score {
  font-size: 12px;
}
.win .day8_percent {
  font-size: 45px;
  font-family: arial,  sans-serif;
  font-weight: bold;
}
.win .day8_txt {
  font-size: 19px;
  font-weight: normal;
}
.day8_news_area {
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
}
.day8_news_area:after{
  display: block;
  clear: both;
  content: "";
}
.day8_news_area span {
  float: left;
  padding:3px 5px;
  border: 1px solid #3f75da;
  font-size: 12px;
  font-family: "돋음",  sans-serif;
  color: #3f75da;
  margin-right: 5px;
}
.day8_news_txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 25px;
}
.day8_btn_area {
  margin: 30px 0 0;
  text-align: center;
}
.day8_close_btn {
  width: 170px;
  height: 45px;
  cursor: pointer;
  font-size: 14px;
  font-family: "돋음",  sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #8991a3;
}
.day8_close_btn:hover {
  background-color: #2970d9;
}
/* day9 */
#day9_homework{
  margin: 50px 0;
}
.day9_btn,
.player_num,
.like_num,
.day9_plus,
.day9_tooltip_img,
.day9_tooltip_txt{
  background-image:url(image/day9_sprite.png);
  background-repeat: no-repeat;
}
.day9_container::after {
  display: block;
  clear: both;
  content: "";
}
.day9_container {
  width: 960px;
}

.day9_wrap {
  width: 960px;
  padding-top: 50px;
  margin: 0 auto;
}
.day9_btn_area {
  position: absolute;
  right: 0;
  top:0;
}
.day9_btn {
  border: 0;
  background-color: #fff;
  width: 13px;
  height: 23px;
  cursor: pointer;
}
.day9_header {
  position: relative;
}
.day9_pre_btn {
  margin-right: 20px;
  background-position: -80px 0;
}
.day9_pre_btn:hover {
  background-position: -100px 0;
}
.day9_next_btn {
  background-position: -20px 0;
}
.day9_next_btn:hover {
  background-position: -40px 0;
}
.first_page {
  background-position: -60px 0;
}
.first_page:hover {
  background-position: -60px 0;
  cursor: default;
}
.last_page {
  background-position: -60px 0;
}
.last_page:hover {
  background-position: -60px 0;
  cursor: default;
}
.day9_main {
  position: relative;
}
.day9_main_img {
  float: left;
  margin-right: 10px;
  width: 480px;
}
.day9_main_img img {
  vertical-align: top;
}
.day9_img_border {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  z-index: 10;
}

.day9_img_link {
  position: relative;
  display: inline-block;
  height: 360px;
}
.day9_time_area {
  width: 40px;
  height: 20px;
  position: absolute;
  right: 10px;
  bottom:20px;
  z-index: 20;
}
.day9_list .day9_time_area {
  bottom:10px;
}
.day9_play_time {
  position: absolute;
  bottom: 2px;
  right: 5px;
  color: #fff;
  font-size: 12px;
  z-index: 10;
}
.day9_tooltip:hover {
  display: inline-block;
}
.day9_plus {
  display: none;
  position: absolute;
  bottom:0;
  right: 5px;
  width: 25px;
  height: 25px;
  background-position: -170px 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.day9_mask {
  position: absolute;
  width: 40px;
  height: 20px;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.day9_image_area:hover .day9_time {
  display: none;
}
.day9_image_area:hover .day9_plus {
  display: block;
}
.day9_plus:hover + .day9_tooltip {
  display: block;
}
.day9_list_image_area:hover .day9_time {
  display: none;
}
.day9_list_image_area:hover .day9_plus {
  display: block;
}
.day9_plus:hover + .day9_tooltip {
  display: block;
}

.main_tit {
  display: block;
  padding-bottom: 10px;
}
.day9_image_area {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.main_tit span {
  display: inline-block;
  padding: 2px 5px 0;
  background-color: #999;
  color: #fff;
}

.day9_elip1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.player_num {
  display: inline-block;
  width: 10px;
  height: 13px;
  margin-bottom: -1px;
  background-position: -220px 0;
}
.like_num {
  margin-left: 20px;
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-bottom: -2px;
  background-position: -200px 0;
}
.play_info {
  color: #666;
}
.day9_list {
  padding-bottom: 20px;
  width: 230px;
  height: 210px;
}
.day9_list_image_area {
  position: relative;
  width: 230px;
  height: 130px;
  margin-bottom: 10px;
}
.day9_list_img {
  width: 470px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.day9_list_img_link {
  overflow: hidden;
  position: relative;
  display: inline-block;

}
.day9_image_area:hover img {
  cursor:pointer;
  transform:scale(1.1);
  /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */
  -o-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;

}
.day9_list_image_area:hover img {
  cursor:pointer;
  transform:scale(1.1);
  /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */
  -o-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;

}
.day9_list_img_link img {
  vertical-align: top;
}
.day9_elip2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.list_tit {
  position: relative;
  margin-bottom: 10px;
  line-height: 20px;
}

.day9_tooltip {
  display: none;
  position: absolute;
  text-align: right;
  top: -41px;
  left: -250px;
  right: -4px;
  bottom: 25px;
  font-size: 10px;
}
.day9_tooltip_txt {
  color: #000;
  height: 34px;
  font-size: 12px;
  padding: 7px 10px;
  display: inline-block;
  margin-right: 11px;
  background-position: 0 -36px;
}
.day9_tooltip_txt::after {
  position: absolute;
  right: 10px;
  bottom: 2px;
  height: 34px;
  display: block;
  content: "";
  width: 20px;
  background-image: url(image/day9_sprite.png);
  background-repeat: no-repeat;
  background-position: -324px -36px;
}

.list_tit span {
  display: inline-block;
  padding: 2px 5px 0;
  font-size: 12px;
  line-height: 15px;
  background-color: #999;
  color: #fff;
}
.day9_lists {
  margin-right: 10px;
  width: 230px;
  float: left;
}
.day9_list_area {

  width:960px;
}
.day9_list_area::after {
  display: block;
  clear: both;
  content: "";
}
/* day10 */
#day10_homework {
  margin: 50px 0;
}
.day10_wrap {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.day10_main {
  border: 1px solid #ccc;
  position: r
}
.day10_league {
  position: absolute;
  text-align: right;
  left: 0;
  right: -2px;
  bottom: 0;
  height: 38px;
  padding-right: 20px;
  line-height: 40px;
  font-size: 16px;
  color: #999;
  border: 1px solid #ccc;
  border-width: 1px 0;
   margin-bottom: -1px;
}

.day10_header {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.day10_header strong {
  color: #f00;
  padding-left: 20px;
}
.day10_link {
  position: absolute;
  top: -55px;
  right: 20px;
  height: 30px;
  width: 40px;
  background-color: #e00;
  color: #fff;
  line-height: 30px;
  text-align: center;

}

.day10_team_img {
  float: left;
  margin-right: 20px;
  width: 90px;
  height: 90px;
}
.day10_team_img img {
  border-radius: 45px;
}
.day10_cotent {
  position: relative;
  width: 500px;
  padding-bottom: 40px;
}
.day10_team_area {
  position: relative;
  margin:20px;
}
.day10_team_area::after {
  display: block;
  clear: both;
  content: "";
}
.day10_cotent::after {
  display: block;
  clear: both;
  content: "";
}
.day10_elip {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 40px;
  font-size: 25px;
}
.day10_team_name {
  overflow: hidden;
  line-height: 90px;
}
.day10_score {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
}
.day10_list::after {
  display: block;
  clear: both;
  content: "";
}
.day10_team_list {
  position: relative;
  float: left;
  width: 498px;
}
.day10_main {
  margin-bottom: 50px;
}
.day10_main::before {
  width: 1px;
  position: absolute;
  right: 50%;
  top:0;
  bottom: 0;
  content: "";
  display: block;
  background-color: #ccc;
}
.full .day10_cotent {
  width: 1000px;
}
.full .day10_header {
  width: 100px;
}
.full .day10_link {
  display: none;
}
.full .day10_elip {
  padding-right: 30px;
}
.full .day10_main::before {
  display: none;
}
.full .day10_league {
  width: 40px;
  right: 0;
  top: 55px;
  left: 472px;
  border: 0;
  padding: 0;
}
.full .day10_team_name {
  overflow: hidden;
}
.full .day10_cotent {
  padding: 20px 0;
}
.full .day10_team_area {
  padding: 0;
  margin: 0;
  width: 500px;
  float: left;
}
.full .day10_team_img {
  float: right;
  margin: 0 105px 0 0;
}
.full .day10_team_second {
  float: left;
  margin: 0 0 0 100px;
}
.full .day10_score {
  margin-right: 55px;
}
.full .score_2 {
  left: 50px;
  width: 50px;
}
.full .name_2  {
  width: 200px;
  padding-left: 20px;
  margin: 0;
  margin-right: 100px;
}
.full .day10_team_list {
  width: 1000px;
}
.full .name_1 {
  text-align: right;
  float: right;
  width: 200px;
}
.full .day10_header {
  position: absolute;
  right: 440px;
  padding-top: 30px;
}
.full .day10_team_list {
  position: relative;
}
.full .day10_cotent {
  border-bottom: 1px solid #ccc;
  margin-bottom: -1px;
}
/* day11 */
#day11_homework {
  margin-bottom: 50px;
}
