body,
html,
h1,
h2,
h3,
h4,
h5,
p{
  margin: 0;
  padding: 0;
}
.wrap{
  width: 1038px;
  margin: 0 auto;
}
.main{
  padding-top: 20px;
  overflow: hidden;

}
.container{
  margin-right: -17px;
}
.container::after{
  display: block;
  clear: both;
  content:"";
}
.content{
  float: left;
  min-height: 198px;
  width: 194px;
  margin: 0 17px 20px 0;
  font-family: "나눔고딕";
  font-size: 13px;
}
.play_time{
  position: absolute;
  right: 5px;
  bottom: 5px;
  height: 16px;
  padding: 0 7px;
  color: #fff;
  background-color: #000;
  font font-family: arial;
  font-size: 11px;
  line-height: 17px;
}
.content_img{
  position: relative;
  width: 194px;
  margin-bottom: 13px;
}
.content_img::before{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 1px solid #000;
  opacity: 0.1;
  content: "";

}
.content_txt{
  line-height: 18px;
  color:#3c3c3c;
  margin-bottom: 8px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.txt_source{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #7ba7df;
  margin-bottom: 10px;
}
.info{
  color: #7f7f7f
}
.mask{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color:#000;
  opacity: 0.5;
  display: none;
}

.hover_action{
  display: none;
  position: absolute;
  width: 40px;
  height: 50px;
  cursor: pointer;
  background-color: #000;
  right: 5px;
  bottom: 5px;
  background-image: url(image/bg_fold.png);
  background-repeat: no-repeat;
  background-size: contain;

}
.plus{
  position: absolute;
  bottom: 0;
  cursor: pointer;
  right: 3px;
  border: 0;
  background-color: #000;
  color: #fff;
}
.content_img:hover .mask{
  display: block;
}
.content_img:hover .play_time{
  display: none;
}
.content_img:hover .hover_action{
  display: block;
}
.played{
  display: inline-block;
  width: 8px;
  height: 10px;
  background-image: url(image/111.png);
}
@media screen and (min-width:0) {
  .img{
    margin-bottom: -4px;
  }
  .wrap{
    width: 100%;
  }
  .content{
    width: 100%;
    margin-right: 0;
  }
  .content_img{
    width: 100%;
    min-height: 109px;
  }
  .inner_div{
    padding-right: 17px;
  }
}
@media screen and (min-width:320px) {
  .content{
    width: 50%;

  }
  .content_img{
    width: 100%;
    min-height: 109px;
  }
}
@media screen and (min-width:640px) {
  .content{
    width: 33%;
    min-height: 109px;
  }
  .content_img{
    width: 100%;
    min-height: 109px;
  }
}
@media screen and (min-width:760px) {
  .content{
    width: 25%;
    min-height: 109px;
    margin-right: 0;
  }
  .content_img{
    width: 100%;
    min-height: 109px;
  }
}
@media screen and (min-width:1038px) {
  .wrap{
    width: 1038px;
  }
  .container {
    margin-right: -17px;
  }
  .inner_div{
    padding:0;
  }
  .content{
    margin-right: 17px;
    width: 194px;
    height: 198px;
  }
  .content_img{
    width: 194px;
    height: 109px;
  }
}
