td, body, body th, tr{
  padding:0;
  margin: 0;
}
.wrap{
  padding:40px;
}
table{
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
button{
  padding: 5px 10px;
  display: inline-block;
  background-color: #fff;
  font-weight: bold;
}
.next{
  float: right;
}
.pre{
  float: left;
}
.tit{
  line-height: 25px;
  margin-bottom: 20px;
}
.tit_width{
  width:5.8%;
}
.tit::after{
  display: block;
  clear: both;
  content:"";
}
.tit strong{
  text-align: center;
}
thead{
  height: 30px;
}
thead th{
  color:#ccc
}
thead tr{
  height: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}
tbody tr{
  border-bottom: 1px solid #eee;
}
.inline{
  position: relative;
}
td{
  height:80px;
  text-align: center;
}
.start_mission{
  border: 0px solid #ffe6e6;
  border-radius: 25px 0 0 25px;
  height: 25px;
  padding-right: 10%;
  margin-left: 10%;
  line-height: 25px;
  background-color: #ffe6e6;
}
.mission{
  background-color: #ffe6e6;
  height: 25px;
  line-height: 25px;
}
.finish_mission{
  border: 0px solid #ffe6e6;
  border-radius: 0 25px 25px 0;
  height: 25px;
  margin-right: 10%;
  padding-left: 10%;
  line-height: 25px;
  background-color: #ffe6e6;
}
.attend{
  font-size: 18px;
  font-weight: bold;
  color:blue;
}
.none{
  visibility: hidden;
}
.finish_mission{
  position: relative;
}
.mission_clear::after{
  display: block;
  width: 50px;
  height:15px;
  line-height: 15px;
  font-size: 12px;
  position: absolute;
  color:white;
  background-color: red;
  top:-20px;
  left:0;
  right:-10%;
  content:"clear";
  margin: auto;
  z-index: 10;

}
.finish_mission.start_mission{
  border: 0px solid #ffe6e6;
  border-radius: 25px;
  height: 25px;
  margin: 0 30px;
  line-height: 25px;
  padding:0;
  background-color: #ffe6e6;
}
.start_quiz{
  border: 0px solid #e6ecff;
  border-radius: 25px 0 0 25px;
  height: 25px;
  padding-right: 10%;
  margin-left: 10%;
  line-height: 25px;
  background-color: #e6ecff;
}
.quiz{
  background-color: #e6ecff;
  height: 25px;
  line-height: 25px;
}
.finish_quiz{
  border: 0px solid #e6ecff;
  border-radius: 0 25px 25px 0;
  height: 25px;
  margin-right: 10%;
  padding-left: 10%;
  line-height: 25px;
  background-color: #e6ecff;
}

.finish_quiz.start_quiz{
  border: 0px solid #e6ecff;
  border-radius: 25px;
  height: 25px;
  margin: 0 10%;
  line-height: 25px;
  padding:0;
  background-color: #e6ecff;
}
.holiday{
  visibility: visible;
  color:red;
  font-weight: bold;
}
.next_month{
  color:#ccc;
}
.explan{
  text-align: left;
}
.quiz_ex{
  display: inline-block;
  margin-left: 20px;
  width:15px;
  height: 15px;
  border-radius: 25px;
  background-color: #e6ecff
}
.missin_ex{
  display: inline-block;
  margin-left: 20px;
  width:15px;
  height: 15px;
  border-radius: 25px;
  background-color: #ffe6e6
}
.blind{
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip:rect(0px 0px 0px 0px);

}
