body, html{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color:#000;
}
.time_ico,
.content_discount,
.delivery,
.discount_num1,
.discount_num2,
.discount_percent{
  background:url(image/sprite.png) no-repeat;
  background-size: 131px auto;
}
.header{
  background-color: #333366;
  text-align: center;
  color:#fff;
  margin-bottom: 10px
}
.tit{
  margin: 10px 0 7px;
  font-size: 12px;
  color: #fff;;
  border: 1px solid #336699;
  padding: 3px 5px;
  border-radius: 12px;
  background-color: #336699;
  display: inline-block;
}
.time{
  font-size: 23px;
  font-weight: bold;
  font-family: helveticaNeue;
  padding-bottom: 13px;
}
.time span{
  color: #fff600;
  margin-right: 7px;
}

.time_ico{
  display: inline-block;
  width: 21px;
  height: 18px;
  background-position: -110px 0;
}
.container_img{
  position: relative;
  width: 100%;
  height: 175px;
  border-top: 1px solid #000;
  border-color: rgba(0,0,0,0.2)
}

.container_image {
  height: 175px;
  display: inline-block;
}
.content_area{
  display: block;
  /* height: 70px; */
}
.content{
  position: absolute;
  bottom: 10px;
  height: 70px;
  width: 90%;
  margin-left: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}
.content_discount{
  position: relative;
  float: right;
  width: 54px;
  height: 42px;
  margin: 15px 10px;
  background-position: -32px 0;
}
.content_tit{
  overflow: hidden;
  margin: 18px 0 0 15px;
  font-size: 16px;
  font-family: "산들 고딕 미디움";
}
.content_price{
  margin-left: 15px;
  font-size: 16px;
}
.content_price{
  font-size: 20px;
  color: #f57278;
  font-family: helveticaNeue;
}
.sub_content{
  font-size: 13px;
  font-family: "산들 고딕 레귤러s";
  color: #999;
  padding-left: 10px;
}
.bar{
  display: inline-block;
  width: 1px;
  height: 9px;
  margin: 0 5px;
  background-color: #999;
}
.delivery{
  display: inline-block;
  width: 15px;
  height: 11px;
  background-position: -90px 0;
  margin-right: 10px
}
.discount_num1, .discount_num2{
  float: left;
  width: 10px;
  height: 15px;
  margin-top: 10px;
}
.discount_num1{
  margin:10px 0 0 10px;
}
.discount_num2{
  margin-left: 5px;
}
