body, html,p,h1, h2,h3 ,h4, h5, h6,ul, ol{
  margin: 0;
  padding: 0;
}
body, html{
  width: 100%;
  height: 100%;
}
label{
  display: block;
}
.blind{
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip:rect(0px 0px 0px 0px);

}
.ab{
  height: 30px;
}
.abc{
  height: 60px;
}
.test1{
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 15px;
  background-color: #233;
  position: absolute;
}
.test2{
  display: inline-block;
  position: absolute;
  border-radius: 25px;
  width: 18px;
  height: 18px;
  left: 0;
  background-color: #fff;
  border:1px solid #233;
}
.radio:checked + label .test1{
  background-color: #62a7ee;
}

.radio:checked + label .test2{
  border-color: #62a7ee;
  left:20px;
}

.checkbox:checked + label .test1{
  background-color: #62a7ff;
}

.checkbox:checked + label .test2{
  border-color: #62a7ff;
  left:20px;
}
