body, html,p,h1, h2,h3 ,h4, h5, h6,ul, ol{
  margin: 0;
  padding: 0;
}
body, html{
  width: 100%;
  height: 100%;
}
ul, ol{
  list-style: none;
}
.wrap{
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.nav{
  color: #fff;
  padding-left:30px;
  }
}
.container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.footer, .header{
  text-align: center;
  height: 40px;
  color: #fff;
}
.header{
  height: 30px;
  position: relative;
  background-color: #444;
  width: 30%;
}
.footer{
  background-color: #777;
}
.content{
  min-height: 100%;
  background-color: #444444;
  margin-top: -110px;
}
.content_area{
  padding:120px 10px 10px 10px;
}
.content_area::after{
  display: block;
  clear: both;
  content: "";

}
.lnb, .txt, .aside{
  width: 100%;
  float: left;
  background-color: #999;
  color: #fff;
}

.lnb, .txt{
  margin-bottom: 15px;
}

.lnb_content, .txt_content, .aside_content{
  padding:5px 7px;
}
.content_area li{
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
  background-color: #ccc;
}
.txt_content ul{

}
@media screen and (min-width:480px){
  .lnb{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  .txt{
    margin-right: 10px;
  }
  .txt, .aside{
    width: 49%;
  }
  .wrap, .container{
    width: 100%;
  }
  .content_area{
    padding-right: 10px;
  }
  .txt_content li{
    float: left;
    margin-right: 15px;
    width: 100%
  }

}
@media screen and (min-width:720px){
  .nav{
    width:70%;
  }
  .lnb, .aside{
    width: 30%;
  }
  .lnb{
    margin-right: 15px;
    height: 200px;
  }
  .txt{
    width: 35%;
    margin-right: 15px;
  }
}
@media screen and (min-width:960px){
  .content_area{
    padding-left: 20px;
  }
  .wrap{
    width: 100%;
  }
  .container{
    width: 960px;
  }
}
